<ion-view view-title="{{ 'O1' | translate }}">
    <ion-content><br /><br /><br />
    	<div class="five-moments">
        	<img src="img/5MOMENTS_ILLUSTRATION_App_green.jpg"/>
            <button class="moments-one" 	ng-click="visitWebsite('https://www.youtube.com/embed/dAjZjBvgcF4', 1)" ng-class="{'active': moment == 1}"></button>
            <button class="moments-two" 	ng-click="visitWebsite('https://www.youtube.com/embed/w-kCfuzpxSM', 2)" ng-class="{'active': moment == 2}"></button>
            <button class="moments-three" 	ng-click="visitWebsite('https://www.youtube.com/embed/Lum4dP_fn-k', 3)" ng-class="{'active': moment == 3}"></button>
            <button class="moments-four" 	ng-click="visitWebsite('https://www.youtube.com/embed/xKuy9CWRhPE', 4)" ng-class="{'active': moment == 4}"></button>
            <button class="moments-five" 	ng-click="visitWebsite('https://www.youtube.com/embed/61shxMyxTo0', 5)" ng-class="{'active': moment == 5}"></button>
        </div>
    </ion-content>
</ion-view>

