<ion-view view-title="{{ 'N1' | translate }}">
    <ion-content>
    	<div class="list card">
            <div class="item item-image" ng-click="visitWebsite('https://www.youtube.com/embed/Ts1wESf2fns');">
                <img src="img/video-poster.jpg">
            </div>
            
            <button class="item item-icon-left assertive how-to-apply-btn" ng-click="visitWebsite('http://www.hhea.info/');">
                <img src="img/logo-only-blue.png"/>
                How To Apply
            </button>
        </div>
    </ion-content>
</ion-view>

