<ion-view view-title="{{ 'M1' | translate }}">
    <ion-content>
    	<ul class="list">
        	<div class="item item-divider">{{ 'M2' | translate }}</div>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/sa1iFq2YuUE?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'English'})">English</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/bV_nJGsPGOw?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'French'})">French</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/KcbhC3l-G0o?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Spanish'})">Spanish</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/2NO_IasUqOQ?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Arabic'})">Arabic</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/9qsNq10rnlU?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Chinese'})">Chinese</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/sxin4ZiF2V0?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Russian'})">Russian</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/12A7TrCT2vw?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'German'})">German</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/G3K5fzPfv_4?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Indonesian'})">Indonesian</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/KnmWywk22t0?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Italian'})">Italian</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/UwmoLOqrRDM?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Japanese'})">Japanese</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/u3FzDSPyzXo?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Portuguese'})">Portuguese</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/iBrRbLBuZTw?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Romanian'})">Romanian</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/HltuQ2Fo11w?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Turkish'})">Turkish</li>
            <li class="item" ui-sref="app.journal_video({'link':'https://www.youtube.com/embed/Z2C4OSmg5pw?list=PLJGB73vx3VjWeeIPRHxjHpWRKgGAUp6c5', 'language': 'Vietnamese'})">Vietnamese</li>
        </ul>
    </ion-content>
</ion-view>
