<ion-header-bar class="bar-balanced">
	<div class="buttons"><a href="#login" class="button button-clear icon-left ion-ios-arrow-left">Back</a></div>
	<h1 class="title">{{ 'F1' | translate }}</h1>
</ion-header-bar>

<ion-view view-title="Password Recovery">
    <ion-content>
    	<div ng-bind-html="alertMessage"></div>
    	<form onsubmit="return false;" method="post" class="login-form padding">
        	<div class="form-content">
                <label class="item item-input">
                    <span class="input-label">{{ 'F2' | translate }}</span>
                    <input type="email" ng-model="user.email">
                </label>
                <button class="button button-balanced button-block" ng-click="resetPassword();">{{ 'F3' | translate }}</button>
                
                <p class="text-stable padding text-center">{{ 'F4' | translate }}</p>
            </div>
        </form>
    </ion-content>
</ion-view>
