<ion-header-bar class="bar-balanced">
	<h1 class="title h1-title">{{ 'G1' | translate }}</h1>
</ion-header-bar>

<ion-view view-title="Terms and Conditions">
    <ion-content class="padding text-justified">

        <p><strong>{{ 'G2' | translate }}</strong></p>

        <p>{{ 'G3' | translate }}</p>

        <p><strong>{{ 'G4' | translate }}</strong></p>

        <p>{{ 'G5' | translate }}</p>

        <p><strong>{{ 'G6' | translate }}</strong></p>
        
        <p>{{ 'G7' | translate }}</p>

        <p><strong>{{ 'G8' | translate }}</strong></p>

        <p>{{ 'G9' | translate }}</p>

        <p><strong>{{ 'G10' | translate }}</strong></p> 

        <p>{{ 'G11' | translate }}</p>

        <p><strong>{{ 'G12' | translate }}</strong></p>

        <p>{{ 'G13' | translate }}</p>

        <p><strong>{{ 'G14' | translate }}</strong></p>

        <p>{{ 'G15' | translate }}</p>

        <p>{{ 'G16' | translate }}</p>

        <p>{{ 'G17' | translate }}</p>

        <p>{{ 'G18' | translate }}</p>

        <p><strong>{{ 'G19' | translate }}</strong></p>

        <p>{{ 'G20' | translate }}</p>

        <p><strong>{{ 'G21' | translate }}</strong></p>

        <p>{{ 'G22' | translate }}</p>

        <p></p>

        <p><strong>{{ 'G23' | translate }}</strong></p>

        <p><strong>{{ 'G24' | translate }}</strong></p>

        <p>{{ 'G25' | translate }}</p>

        <p><strong>{{ 'G26' | translate }}</strong></p>

        <p>{{ 'G27' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G28' | translate }}</strong></p>

        <p>{{ 'G29' | translate }}</p>

        <p>{{ 'G30' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G31' | translate }}</strong></p>

        <p>{{ 'G32' | translate }}</p>

        <p>{{ 'G33' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G34' | translate }}</strong></p>

        <p>W{{ 'G35' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G36' | translate }}</strong></p>

        <p>{{ 'G37' | translate }}</p>

        <p>{{ 'G38' | translate }}</p>

        <p>{{ 'G39' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G40' | translate }}</strong></p>

        <p>{{ 'G41' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G42' | translate }}</strong></p>

        <p>{{ 'G43' | translate }}</p>

        <p> </p>

        <p><strong>{{ 'G44' | translate }}</strong></p>

        <p>{{ 'G45' | translate }}</p>

        <p>{{ 'G46' | translate }}</p>
    </ion-content>
</ion-view>

<ion-footer-bar align-title="left" class="bar-dark">
	<div class="buttons"><a class="button button-clear icon-left ion-android-arrow-back" href="#/logout"> {{ 'G47' | translate }}</a></div>
    <h1 class="title"></h1>
    <div class="buttons"><a class="button button-clear icon-right ion-android-arrow-forward" href="#/app/home">{{ 'G48' | translate }} </a></div>
</ion-footer-bar>